<html>

<head>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}public.css">
	<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Open+Sans:300italic,600italic,300,600' rel='stylesheet' type='text/css'>
</head>

<body>
	<header>
		<img src="http://iconz-webvisions.com/sites/iconz-webvisions.com/files/icw-logo.png"/>
	</header>
	<section>
		<h1> Customer Care Satisfaction Survey </h1>
		{% if error_message %}<p> <strong>{{error_message}} </strong> </p> {% endif %}
		<form action="{% url 'survey:post' code=code %}" method="post">
			{% csrf_token %}
			How do you rate the customer service you received from us?
			<label><input id="rating" name="rating" type="radio" value="3"/> Excellent </label>
			<label><input id="rating" name="rating" type="radio" value="2"/> Good </label>
			<label><input id="rating" name="rating" type="radio" value="1"/> Average </label>
			<label><input id="rating" name="rating" type="radio" value="0"/> Poor </label>


			Were your issue(s) resolved the first time you contacted us?
			<label><input id="first_time_res" name="first_time_res" type="radio" value="True"/> Yes </label>
			<label><input id="first_time_res" name="first_time_res" type="radio" value="False"/> No </label>

			Do you have any other comments on your experience with our customer care team?
			<textarea id="customer_comments" name="customer_comment" cols="70" rows="5"></textarea>

			<p class="sub-label">Thank you for taking the time to complete this survey</p><input class="submit" type="submit" value="Submit"/>
		</form>
	</section>
</body>
<footer>
	<small>ICONZ-WEBVISIONS LTD © 2013</small>
</footer>
</html>