<html>
<body style="color: rgb(56, 56, 56);
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;">
	<header style="border-bottom-color: rgb(239, 239, 239);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin-bottom: 30px;">
		<img src="http://iconz-webvisions.com/sites/iconz-webvisions.com/files/icw-logo.png"/>
	</header>
	<section>
		<h1 style="	color: rgb(237, 28, 36);
	display: block;
	font-family: Rokkitt, serif;
	font-size: 24px;
	font-style: normal;
	font-weight: bold;
	height: 30px;
	line-height: 30px;"> Customer Care Satisfaction Survey </h1>

		<p> Hello, </p>

		<p> We've sent you this email so that you can help us get a bit of insight into how well we're taking care of you. Please follow <a href="http://survey.iconz-webvisions.com/{{code}}"> this link </a> to the survey.</p>

		<p> Please note, this is not a phishing email. We won't be asking you for any identifying details, nor will we ever ask you for your username of password in an email, or link you to a page that requests such details. </p>

		<p> Thank you for your consideration, </p>
		<p> The ICONZ-Webvisions Customer Care Team </p>
	</section>
</body>
</html>
